
.scrollbar-thin {
    scrollbar-width: thick;
  }
  
  .scrollbar-thumb-black {
    scrollbar-color: var(--primary) transparent;
  }
  

  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
    border: 2px solid transparent;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
  }
  

  .scrollbar-thin::-webkit-scrollbar-button {
    display: none;
  }

  