.scrollbar-thin {
  scrollbar-width: thin !important;
}

.scrollbar-thumb-black {
  scrollbar-color: var(--primary) transparent !important;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 8px !important;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent !important;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: var(--primary) !important;
  border-radius: 10px !important;
  border: 2px solid transparent !important;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent) !important;
}

.scrollbar-thin::-webkit-scrollbar-button {
  display: none !important;
}
